*{
    margin:0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    
}
.container{
    background-color: cornflowerblue;
    padding:50px;
    border-radius:10px;
    margin :10px 550px;
}
.heading{
color: white;
padding:10px;
position: relative;
left:50px;
}
.logo{
width:300px;
height:300px;
position: relative;
left: 615px;
}
input[type="text"]{
    margin-top: 8px;
    height: 3rem;
    width: 280px;
    border-radius: 8px;
    border:2px  white;
    outline: none;
    padding:10px;
    font-size:16px;
    margin-bottom:20px;
}
input:focus{
    background-color:white;
    color:#495057;
    border-color:#80bdff;
    outline:0;
    box-shadow: 0 0 0 .2rem rgb(red, green, blue);

}
input[type="button"]{
    background-color:black ;
    color: white;
    height: 3.2rem;
    width: 200px;
    font-size:1.1rem;
    outline: none;
    border-radius: 8px;
    font-weight: 600px;
    border:none;
    cursor: pointer;
    position:relative;
    left:50px;
     }
input[type="button"]:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;

}
.result{
    color: beige;
    position: relative;
    left:100px;
}
#weather-type{
    
   color:bisque;
}

  

